@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  background-color: rgb(0,2,0);
  background-image: url(https://solarsystem.nasa.gov/system/resources/detail_files/921_683_bennu_carousel_5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 5%;
  font-family: 'Inconsolata', monospace;
  color: white;
}

.astr {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 110em;
  text-align: center;
  border: 1.0mm ridge;
  border-radius: 10px;
  box-shadow: 0 0 10px #69f0ae;
  background-color: #212121;
  color: white;
}

.astr_head {
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
  border-bottom: solid;
}

.astr_body {
  font-size: 14pt;

}

.props {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    list-style-type: none;
  }

li {
  list-style-type: none;
  padding-left: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}