@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  background-color: rgb(0,2,0);
  background-image: url(https://solarsystem.nasa.gov/system/resources/detail_files/600_PIA17760.jpg);
}

.main_title {
  font-family: 'Bebas Neue', cursive;
  font-size: 36pt;
}

.navbar {
  background-color: #263238;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.navbar_list {
  list-style-type: none;
  padding-left: 0px;
}

.navbar a {
  float: left;
  width: 10em;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 5px;
  font-size: 16px;
font-family: 'Poppins', sans-serif;
}

.navbar a:hover {
  background-color: grey;
  color: #0d47a1;
}

.navbar a.active {
  background-color: #01579b;
  color: white;
}

h1 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: white;
}

a {
    color: #bbdefb;
    text-align: center;
    text-decoration: underline;
}
    
a:hover {
    background-color: #d1c4e9;
    color: black;
}


.box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75));
  color: white;
}

.box_head {
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

.box_body {
  font-size: 16pt;
}

.props {
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
    list-style-type: none;
  }

.rover_images {
  margin-left: auto;
  margin-right: auto;
  width: 75em;
}

.rover_info {
  color: white;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
  padding-left: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}