@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: rgb(0,2,0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url(https://solarsystem.nasa.gov/system/resources/detail_files/2242_full_%282758x2100%29.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main_title {
  font-family: 'Bebas Neue', cursive;
  font-size: 36pt;
}

.navbar {
  background-color: #263238;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

.navbar_list {
  list-style-type: none;
  padding-left: 0px;
}

.navbar a {
  float: left;
  width: 10em;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.navbar a:hover {
  background-color: grey;
  color: #0d47a1;
}

.navbar a.active {
  background-color: #01579b;
  color: white;
}

h1 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color: white;
}

a {
    color: #bbdefb;
    text-align: center;
    text-decoration: underline;
}
    
a:hover {
    background-color: #d1c4e9;
    color: black;
}


.box {
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 110em;
  text-align: center;
  border: 1.0mm ridge;
  border-radius: 10px;
  box-shadow: 0 0 20px #6a1b9a;
  background-color: #212121;
  color: white;
}

.box_head {
  font-size: 20pt;
  font-family: 'Roboto', sans-serif;
  border-bottom: solid;
}

.box_body {
  font-size: 16pt;

}

.props {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
  }

li {
  list-style-type: none;
  padding-left: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

p {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80em;
  height: auto;
  font-size: 16pt;
  font-family: 'Montserrat', sans-serif;
  color: white;
}