<!DOCTYPE html>
<html>

<head>
    <link href="/static/asteroids.css" rel="stylesheet">
    <h1 class="main_title">Space Explorer</h1>
    <title>Asteroids</title>
</head>

<body>
    <nav class="navbar">
        <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
            <li class="navbar_list">
                <a href="/">Home</a>
            </li>
            <li class="navbar_list">
                <a class="active" href="/asteroids">Asteroids</a>
            </li>
            <li class="navbar_list">
                <a href="/space_weather">Space Weather</a>
            </li class="navbar_list">
            <li class="navbar_list">
                <a href="/mars">Mars</a>
            </li>
        </ul>
    </nav>

    <h1>Number of Asteroids near Earth as of Today: {{astr_num}}</h1>
    <table class="astr" style="width:100%">
        <tr>
            <th class="astr_head">Asteroid Name</th>
            <th class="astr_head">Threat?</th>
            <th class="astr_head">Estimated Diameter (Kilometers)</th>
            <th class="astr_head">Relative Velocity (Kilometers/Second)</th>
            <th class="astr_head">Distance to Earth (Kilometers)</th>
        </tr>
        {% for i in range(0,astr_prop_len) %}
        <tr>
            <td class="astr_body">{{astr_name[i]}}</td>
            <td class="astr_body">{{astr_hazard[i]}}</td>
            <td class="astr_body">{{astr_diam_min[i]}} to {{astr_diam_max[i]}}</td>
            <td class="astr_body">{{astr_rel_vel[i]}}</td>
            <td class="astr_body">{{astr_dist[i]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>