<!DOCTYPE html>
<html>

<head>
    <link href="/static/index.css" rel="stylesheet">
    <h1 class="main_title">Space Explorer</h1>
</head>

<body>
    <nav class="navbar">
        <ul style="display: flex; justify-content: center; align-items: center;">
            <li>
                <a class="active" href="/">Home</a>
            </li>
            <li>
                <a href="/asteroids">Asteroids</a>
            </li>
            <li>
                <a href="/space_weather">Space Weather</a>
            </li>
            <li>
                <a href="/mars">Mars</a>
            </li>
        </ul>
    </nav>

    <h2 style="font-family: 'Oswald', sans-serif;">Astronomy Picture of the Day</h2>
    <h3 style="font-family: 'Playfair Display', serif;">{{pic_title}}</h3>
    <div class="pic">
        <figure>
            <img src={{pic_img}} alt="astronomy picture">
            <figcaption>Copyright: {{pic_copy}}</figcaption>
        </figure>
        <p style="font-family: 'Montserrat', sans-serif;">{{pic_expl}}</p>
    </div>

</body>

</html>