<!DOCTYPE html>
<html>

<head>
    <link href="/static/mars.css" rel="stylesheet">
    <h1 class="main_title">Space Explorer</h1>
    <title>Mars</title>
</head>

<body>
    <nav class="navbar">
        <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
            <li class="navbar_list">
                <a href="/">Home</a>
            </li>
            <li class="navbar_list">
                <a href="/asteroids">Asteroids</a>
            </li>
            <li class="navbar_list">
                <a href="/space_weather">Space Weather</a>
            </li class="navbar_list">
            <li class="navbar_list">
                <a class="active" href="/mars">Mars</a>
            </li>
        </ul>
    </nav>

    <h1>Weather in Mars</h1>
    {% with flashMessage = get_flashed_messages() %}
    {% if flashMessage[0] == "No weather data is currently available from NASA." %}
    <ul class=flashes style="padding-left: 0px;">
        <li style="list-style-type: none; padding-left: 0px;">{{ flashMessage[0] }}</li>
    </ul>
    {% else %}
    <table class="box" style="width:100%">
        <tr class="props">
            <th class="box_head">Last Datum for the Sol (UTC)</th>
            <th class="box_head">Atmospheric Temperature (Fahrenheit)</th>
            <th class="box_head">Average Wind Speed (m/s)</th>
            <th class="box_head">Average Atmospheric Pressure (Pa)</th>
            <th class="box_head">Season</th>
        </tr>
        {% for i in range(0, mars_weather_len) %}
        <tr class="props">
            <td class="box_body">{{mars_weather_time[i]}}</td>
            <td class="box_body">{{mars_low_atm_temp[i]}} to {{mars_high_atm_temp[i]}}</td>
            <td class="box_body">{{mars_wind_speed[i]}}</td>
            <td class="box_body">{{mars_atm_press[i]}}</td>
            <td class="box_body">{{mars_season[i]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endwith %}

    <h1>Rover Images</h1>
    <div class="rover_images" style="display: flex;">
        {% for j in range(0, mars_r_len) %}
        <li style="padding: 50px; padding-top: 5px;">
            <img src={{mars_r_img[j]}} alt="rover image"
                style="max-width: 300px; max-height: 300px; border-radius: 10px; box-shadow: 0 0 10px #212121;">
            <h3 class="rover_info">Sol: {{mars_r_sol[j]}}</h3>
            <h3 class="rover_info">Earth date: {{mars_r_date[j]}}</h3>
            <h3 class="rover_info">Rover name: {{mars_r_name[j]}}</h3>
        </li>
        {% endfor %}
    </div>
</body>

</html>