<!DOCTYPE html>
<html>

<head>
    <link href="/static/mars.css" rel="stylesheet">
    <h1 class="main_title">Space Explorer</h1>
</head>

<body>
    <nav class="navbar">
        <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
            <li class="navbar_list">
                <a href="/">Home</a>
            </li>
            <li class="navbar_list">
                <a href="/asteroids">Asteroids</a>
            </li>
            <li class="navbar_list">
                <a href="/space_weather">Space Weather</a>
            </li class="navbar_list">
            <li class="navbar_list">
                <a class="active" href="/mars">Mars</a>
            </li>
        </ul>
    </nav>

    <h1>Weather in Mars</h1>
    <div class="box">
        <ul class="props">
            <li class="box_head">Last Datum for the Sol (UTC)</li>
            <li class="box_head">Atmospheric Temperature (Fahrenheit)</li>
            <li class="box_head">Wind Speed (m/s)</li>
            <li class="box_head">Atmospheric Pressure (Pa)</li>
            <li class="box_head">Season</li>
        </ul>
        {% for i in range(0, mars_weather_len) %}
        <ul class="props">
            <li class="box_body">{{mars_weather_time[i]}}</li>
            <li class="box_body">{{mars_low_atm_temp[i]}} to {{mars_high_atm_temp[i]}}</li>
            <li class="box_body">{{mars_wind_speed[i]}}</li>
            <li class="box_body">{{mars_atm_press[i]}}</li>
            <li class="box_body">{{mars_season[i]}}</li>
        </ul>
        {% endfor %}
    </div>

    <h1 style="padding-top: 50px;">Rover Images</h1>
    <div class="rover_images" style="display: flex;">
        {% for j in range(0, mars_r_len) %}
        <li style="padding: 50px; padding-top: 5px;">
            <img src={{mars_r_img[j]}} alt="rover image"
                style="max-width: 300px; max-height: 300px; border-radius: 10px; box-shadow: 0 0 10px #212121;">
            <h3 class="rover_info">Sol: {{mars_r_sol[j]}}</h3>
            <h3 class="rover_info">Earth date: {{mars_r_date[j]}}</h3>
            <h3 class="rover_info">Rover name: {{mars_r_name[j]}}</h3>
        </li>
        {% endfor %}
    </div>
</body>

</html>