<!DOCTYPE html>
<html>

<head>
    <link href="/static/space_weather.css" rel="stylesheet">
    <h1 class="main_title">Space Explorer</h1>
</head>

<body>
    <nav class="navbar">
        <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
            <li class="navbar_list">
                <a href="/">Home</a>
            </li>
            <li class="navbar_list">
                <a href="/asteroids">Asteroids</a>
            </li>
            <li class="navbar_list">
                <a class="active" href="/space_weather">Space Weather</a>
            </li class="navbar_list">
            <li class="navbar_list">
                <a href="/mars">Mars</a>
            </li>
        </ul>
    </nav>

    <h1>Coronal Mass Ejection</h1>
    <div class="box">
        <ul class="props">
            <li class="box_head">Begin Date</li>
            <li class="box_head">Speed (km/s)</li>
        </ul>
        {% for i in range(0,cme_len) %}
        <ul class="props">
            <li class="box_body">
                <a target="_blank" rel="noopener noreferrer" href={{cme_link[i]}}>{{cme_time[i]}}</a>
            </li>
            <li class="box_body">{{cme_speed[i]}}</li>
        </ul>
        {% endfor %}
    </div>

    <h1>Solar Flare</h1>
    <div class="box">
        <ul class="props">
            <li class="box_head">Begin Date</li>
            <li class="box_head">Class</li>
        </ul>
        {% for i in range(0,flare_len) %}
        <ul class="props">
            <li class="box_body">
                <a target="_blank" rel="noopener noreferrer" href={{flare_link[i]}}>{{flare_time[i]}}</a>
            </li>
            <li class="box_body">{{flare_class[i]}}</li>
        </ul>
        {% endfor %}
    </div>
</body>

</html>