<!DOCTYPE html>
<html>

<head>
    <link href="/static/space_weather.css" rel="stylesheet">
    <h1 class="main_title">Space Explorer</h1>
    <title>Space Weather</title>
</head>

<body>
    <nav class="navbar">
        <ul style="display: flex; justify-content: center; align-items: center; list-style-type: none;">
            <li class="navbar_list">
                <a href="/">Home</a>
            </li>
            <li class="navbar_list">
                <a href="/asteroids">Asteroids</a>
            </li>
            <li class="navbar_list">
                <a class="active" href="/space_weather">Space Weather</a>
            </li class="navbar_list">
            <li class="navbar_list">
                <a href="/mars">Mars</a>
            </li>
        </ul>
    </nav>

    <h1>Coronal Mass Ejection</h1>
    <p>
        Coronal mass ejections, or CMEs, are large clouds of solar plasma and embedded magnetic fields
        released into space after a solar eruption. CMEs expand as they sweep through space, often
        measuring millions of miles across, and can collide
        with planetary magnetic fields. When directed at Earth, a CME can produce geomagnetic disturbances
        that ignite bright aurora, short-circuit satellites and power grids on Earth, or at their worst,
        even endanger astronauts in orbit. Credit: NASA Sun-Earth Mission Page.
    </p>
    <div class="box">
        <ul class="props">
            <li class="box_head">Begin Date</li>
            <li class="box_head">Speed (km/s)</li>
        </ul>
        {% for i in range(0,cme_len) %}
        <ul class="props">
            <li class="box_body">
                <a target="_blank" rel="noopener noreferrer" href={{cme_link[i]}}>{{cme_time[i]}}</a>
            </li>
            <li class="box_body">{{cme_speed[i]}}</li>
        </ul>
        {% endfor %}
    </div>

    <h1>Solar Flare</h1>
    <p>
        Solar flares are energetic bursts of light and particles triggered by the release of magnetic
        energy on the Sun. Flares are by far the most powerful explosions in the solar system, with
        energy releases comparable to billions of hydrogen bombs. The energetic particles accelerated
        by flares travel nearly at the speed of light, and can travel the 93 million miles between the
        Sun and Earth in less than 20 minutes. Some solar flares have an associated coronal mass ejection.
        Credit: NASA Sun-Earth Mission Page.
    </p>
    <div class="box">
        <ul class="props">
            <li class="box_head">Begin Date</li>
            <li class="box_head">Class</li>
        </ul>
        {% for i in range(0,flare_len) %}
        <ul class="props">
            <li class="box_body">
                <a target="_blank" rel="noopener noreferrer" href={{flare_link[i]}}>{{flare_time[i]}}</a>
            </li>
            <li class="box_body">{{flare_class[i]}}</li>
        </ul>
        {% endfor %}
    </div>
</body>

</html>